<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="web design, affordable web design, professional web design, life-tech mobile, life tech mobile, life-tech, life tech, life, tech, mobile, mobile tech, media, film, api, application, app, application programming interface, app development, web development, software as a service, saas">
		<meta name="author" content="Joel Eisenhower">
		<title>LifeTech Mobile | About</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	</head>
	<body>
		<header>
			<div class="container">
				<div id="branding">
					<h1><span class="highlight">LifeTech</span> Mobile</h1>
				</div>
				<nav>
					<ul>
						<li><a href="http://127.0.0.1:5000/home">Home</a></li>
						<li class="current"><a href="http://127.0.0.1:5000/about">About</a></li>
						<li><a href="http://127.0.0.1:5000/services">Services</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section id="newsletter">
			<div class="container">
				<h1>Subscribe To Our Newsletter</h1>
				<form action="/subscribe", method="post">
					<input
							type="email"
							placeholder="Enter Email"
							name="email"
					>
					<button type="submit" class="button_1">Subscribe</button>
				</form>
			</div>
		</section>

		<section id="main">
			<div class="container">
				<article id="main-col">
					<h1 class="page-title">About Us</h1>
					<p>
						LifeTech Mobile began about a year ago with the idea of selling pocket printers. Since then it has evolved through the skillset of its founders to provide tech solutions to problems ranging from inventory tracking and movement to cinematography tools, to web development.
					</p>
					<p>
						We are always looking to branch out and apply our skillset to new areas. Creative problem solving is our passion at LifeTech Mobile, and we strive to provide quality products and services for the betterment of the community and its people.
					</p>
				</article>

				<aside id="sidebar">
					<div class="dark">
						<h3>What We Do</h3>
						<p>
							At LifeTech Mobile, we provide technology solutions to both common and unique problems. We pride ourselves in our ability to learn rapidly and apply our knowledge to real-world problems.
						</p>
					</div>
				</aside>
			</div>
		</section>

		<footer>
			<p>LifeTech Mobile, Copyright &copy; 2021</p>
		</footer>
	</body>
</html>